/tags
/tags.new
.bloop/
.bsp/
.ccls-cache/
.idea/
.metals/
.run/
.vscode/
.vs/
gen/
out/
target/
metals.sbt
*.iml
*.out
samples/const_prop_tests/
src/main/antlr4/.antlr
*.bpl
*.dot
*.il
*.txt
*.o
*.so
examplesold/
src/test/scala/dump/
src/test/analysis/dump/
*.gtirb
# Ignore all JSON bug a select few for frontend
*.json
!/frontend/package.json
!/frontend/package-lock.json
!/frontend/tsconfig.app.json
!/frontend/tsconfig.json
!/frontend/tsconfig.node.json
src/test/*.svg
src/test/*.md.part
src/test/summary-*.md
docs/book/**
docs/book
