*.mill linguist-language=Scala
mill linguist-generated
mill.bat linguist-generated

src/test/compiled.url.txt text eol=lf
src/test/make/docker-flake.txt text eol=lf

Makefile text eol=lf
*.sh text eol=lf
*.mk text eol=lf
*.md5sum text eol=lf linguist-generated

src/test/make/bap-normalise.py text eol=lf