md5sums linguist-generated
compiled.md5sum linguist-generated
docker-hash linguist-generated
*.gts linguist-generated
*.adt linguist-generated
*.bir linguist-generated
*.relf linguist-generated

src/test/compiled.url.txt text eol=lf
src/test/make/docker-flake.txt text eol=lf

Makefile text eol=lf
*.sh text eol=lf
*.mk text eol=lf
*.md5sum text eol=lf
