
#diff {
    flex: 1;
    max-width: 100%;
    min-width: 0;
    padding-right: 1rem;
    box-sizing: border-box;
}

.d2h-wrapper {
    /*max-width: 100% !important;*/
    /*overflow-x: visible;*/
}

.d2h-code-side-line,
.d2h-code-line {
    /*white-space: pre-wrap; !* Wrap long lines *!*/
    /*word-break: break-word; !* Break inside long tokens *!*/
}

.d2h-file-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
}

.d2h-file-collapse {
    display: none !important;
}

.d2h-file-name-wrapper {
    display: none !important;
}

.d2h-code-line {
    display: flex;
    align-items: flex-start;
}

.d2h-code-side-line,
.d2h-code-side-line-cnxt {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.custom-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}