/* These are the colour components for the code style. */
.token.comment {
  color: var(--token-comment-color);
  font-style: italic;
  text-shadow: none;
}
.token.keyword {
  color: var(--token-keyword-color);
  font-weight: 600;
  text-shadow: none;
}
.token.number {
  color: var(--token-number-color);
  text-shadow: none;
}
.token.type {
  color: var(--token-type-color);
  font-weight: 600;
  text-shadow: none;
}
.token.function {
  color: var(--token-function-color);
  font-weight: 600;
  text-shadow: none;
}
.token.label {
  color: var(--token-label-color);
}
.token.variable {
  color: var(--token-variable-color);
  text-shadow: none;
}
.token.string {
  color: var(--token-string-color);
  font-style: italic;
  text-shadow: none;
}
.toke.register {
  color: var(--token-variable-color);;
  text-shadow: none;
}
.token.operator {
  color: var(--token-operator-color);
  font-weight: 600;
  background: transparent;
  text-shadow: none;
}
.token.punctuation {
  color: var(--token-punctuation-color);
  text-shadow: none;
}
.token.property {
  color: var(--token-property-color);
  text-shadow: none;
}
