#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
}

.app-layout {
    display: flex;
    flex-direction: column;
    /*width: 100vw;*/
    min-height: 100vh;
    height: 100vh;
}

.main-layout {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100vw;
    box-sizing: border-box;
}
