name: Run Examples 
on: 
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main
  workflow_dispatch:
jobs:
  CompileAndTest:
    runs-on: ubuntu-latest
    container:
      # Requires repo to have action access in package settings
      image: ghcr.io/uq-pac/basil-dev:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compile BASIL 
        run: ./mill compile

      - name: Bitvec Tests
        run: ./mill test.testOnly BitVectorAnalysisTests

      - name: IntrusiveListTest
        run: ./mill test.testOnly '*IntrusiveListPublicInterfaceTest'

  SystemTests:
    runs-on: ubuntu-latest
    container:
      # Requires repo to have action access in package settings
      image: ghcr.io/uq-pac/basil-dev:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: System Tests
        run: ./mill test.testOnly 'SystemTests*'
      - uses: actions/upload-artifact@v4
        with:
          name: testresult-${{ github.run_number }}
          path: |
            src/test/*.csv
            src/test/*.svg
      - run: |
          pushd src/test
          tail -n+1 summary-*.csv
          pasted="$(paste headers.md.part summary-*.md.part)"
          for part in summary-*.md.part; do
            # basename, then everything after "summary-", then everything before ".md.part" (via two rev passes)
            testname="$(basename $part | cut -d- -f2- | rev | cut -d. -f3- | rev)"
            [[ -n "$testname" ]]

            svg="verifyTime-$testname.svg"
            ls -l "$svg"

            # 1920 hours = 80 days
            #url="$(curl -F"file=@$svg" -Fexpires=1920 http://0x0.st)"
            #[[ -n "$url" ]]

            #pasted="$(echo "$pasted" | sed "s#HISTO${testname}HISTO#$url#g")"
          done
          popd

          echo "$pasted" > $GITHUB_STEP_SUMMARY
        shell: "bash -xe {0}"

  UnitTests:
    runs-on: ubuntu-latest
    container:
      # Requires repo to have action access in package settings
      image: ghcr.io/uq-pac/basil-dev:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    steps:
      - uses: actions/checkout@v4

        # every text except SystemTests:
        # ./mill test.testOnly '*' -- -t '' | tr -d ':' | ansi2txt | grep -vE '^SystemTests' 
      - run: ./mill test.testOnly DSAMemoryRegionSystemTestsBAP IntrusiveListTest IntrusiveListPublicInterfaceTest PointsToTest DSAMemoryRegionSystemTestsGTIRB MemoryRegionTestsNoRegion AnalysisSystemTestsBAP AnalysisSystemTestsGTIRB DataStructureAnalysisTest IrreducibleLoop ParamAnalysisTests LiveVarsAnalysisTests IRTest CILVisitorTest InterpreterTests InvariantTest ProcedureSummaryTests UnimplementedTests ExtraSpecTests BitVectorAnalysisTests TaintAnalysisTests IndirectCallTests MemoryRegionTestsDSA
